.two-columns {
    /* разметка и позиционирование содержимого секции description */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.two-columns__brief {
    margin: 0;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: 600;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

/* убрали верхний отступ у первого абзаца */
.two-columns__paragraph:first-child {
    margin-top: 0;
}

/* убрали нижний отступ у последнего абзаца */
.two-columns__paragraph:last-child {
    margin-bottom: 0;
}

.section-title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
    width: 60%;
    margin-bottom: 0;
    margin-top: 0;
}

.section-subtitle {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 0;
}

.text-centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.table {
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
    margin-right: 0;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0 0 0;
}